build/
venv/
__pycache__
.python-version
sim-build*
*.egg-info

tests/**/*.vcd
tests/**/*.fst
tests/**/*.xml
tests/**/coverage.dat
tests/renode/guineveer.resc
tests/renode/guineveer.repl
tests/renode/guineveer_common.repl

design/src/axi_intercon.sv
design/src/guineveer.sv
design/src/guineveer.sv.bak

design/fpga/vivado*
design/fpga/guineveer/
design/fpga/guineveer.tcl
